@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Nova+Mono&display=swap');
*{
    font-size: 22px;
}
.id{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    padding: 35px;
}
#hero-msg h1{
    text-align: center;
}
#hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
main section img{
    box-sizing: border-box;
}
#background {
    height: 725px;
}
body{
    background-color: white;
    font-family: "bradley_hand", "verdana", sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header{
    background-color: #194440;
    font-family: "mocondo", "verdana", sans-serif;
}
h2 {
    margin: 0;
}
.home-title{
    color: #194440;
    font-size: 2em;
    margin-top: 10px;
}
.card-img {
    border: 10px solid black;
}
h4{
    color: #644110;
}
nav a{
    color: white;
    text-decoration: none;
}
nav a:hover{
    background-color: #a5d4c3;
    color: black;
}
.book, .join {
    background-color: white;
    color:#644110;
    text-decoration: none;
    font-size: 18px;
    padding-bottom: 15px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: #a5d4c3;
    color: black;
}
.rivers-card, .carmping-card, .rapids-card{
    margin: 200px 0;
}
#background{
    background-color: #c6e4d9;
}
.icon{
    padding-top: 10px;
}
.msg h2{
    color: black;
}
.msg p{
    color:#194440;
    font-size: .8em;
    padding-bottom: 15px;
}
.msg{
    background-color: white;
    line-height: 1.5em;
    padding: 35px;
}
footer{
    background-color: #194440;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a{
    color:#a5d4c3;
    text-decoration: none;
}
footer p{
    font-size: 1.3em;
}
footer p:hover{
    text-decoration: underline;
}
footer a:hover{
    color:#c6e4d9;
}
footer .social img{
    padding-top: 15px;
}
.logo {
    width:80px;
}
#logo-link{
    padding-top: 5px;
}
#hero-img{
    width: 100%;
}