.bubble {
    width: 100%;
    margin: 0%;
}
.graphic {
    border-radius: 50%;
    width: 20%;
    margin-left: 5%;
    margin-right: 5%;
    
}
.desk {
    border-radius: 50%;
    width: 20%;
    margin-left: 5%;
    margin-right: 5%;
}
.person{
    border-radius: 50%;
    width: 20%;
    margin-left: 5%;
    margin-right: 5%;
}
body{
    font-size: 0;
    background-color: rgb(69, 69, 69);
    margin: 0;
    text-align: center;
}
