.bubble{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
}
.graphic{
    border-radius: 50%;
}
body{
    font-size: 0;
    background-color: rgb(69, 69, 69);
}
